
table {
    border: 1px;
    border:solid;
    border-color:  crimson;
}
td , th {
    border: 1px;
    border: solid;
    border-color: darkblue;
}

.h1{
    font-family: 'Reggae One', cursive;
}
ul{
    font-family: 'Reggae One', cursive;
}
a{
    font-family: 'Reggae One', cursive;

}
.h2{
    font-family: 'Lobster', cursive;
font-family: 'Reggae One', cursive;
}
.p{
    font-family: 'Lobster', cursive;
font-family: 'Reggae One', cursive;
}